OPENAI_API_KEY=""

MODEL_NAME="microsoft/Phi-3.5-mini-instruct" # "mistralai/Mistral-7B-Instruct-v0.3" # "meta-llama/Llama-3.1-8B-Instruct" # "google/gemma-2-9b-it" # "google/gemma-3-12b-it" # "microsoft/Phi-3.5-mini-instruct"  # "google/gemma-2-2b-it"
NUM_SHARDS="1"
MAX_INPUT_LENGTH="4096"
MAX_BATCH_PREFILL_TOKENS="4096"
MAX_TOTAL_TOKENS="8192"
MAX_CLIENT_BATCH_SIZE="256"
MAX_CONCURRENT_REQUESTS="256"
VOLUME=
HF_TOKEN=