numpy
python-dotenv==1.0.1
PyYAML==6.0.1
scikit_learn==1.7.1
scipy
torch==2.5.1
transformers==4.46.2
tiktoken==0.8.0
matplotlib==3.9.2
scikit_learn==1.5.2
pydantic==2.9.2
accelerate==1.1.1
openai==1.54.4
python-dotenv==1.0.1
pandas==2.2.3
sentence-transformers==4.1.0
scienceplots==2.1.1
seaborn==0.13.2
tol_colors
evaluate==0.4.4
absl-py
nltk
rouge_score
pauc==0.1.7
statsmodels==0.14.5
bertopic==0.17.3
choix==0.4.1